*{
  font-family: Arial;
}

html{
  background-color: pink;
}

body{
  margin: 0;
}

.nav{
  display: flex;
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  padding: 1rem 0 1rem 1rem;
}

.nav h1{
  margin: 0;
}

.nav ul{
  position: relative;
  left: 250px;
}

.header-links{
  margin: 0;
}

main{
    padding: 1rem;
}

.main{
  background-color: white;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
}

.main p{
  margin: 10px;
}
